.body {
}

.body-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.body-portrait{ 
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.body-text-container{
    font-family: 'Playfair Display', serif;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px; 
    margin-left: auto;
}

.body-text-header {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    margin-top: 0;
    height: fit-content;
    width: fit-content;
    margin-bottom: 0px;
}
.body-text-p {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    color: rgb(129, 126, 126);
    text-align: left;

    margin-top: 0px;
    display: flex;
}

.body-socials-container {
    margin: 150px; 
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

/* Linkedin stylings */
.body-linkedin-links{
    justify-content: center;
    border-radius: 5px;
    border: solid black 2px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3); 
    margin-left: 5%;
    margin-right: 5%; 
    width: 500px; 
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.body-linkedin-links:hover {
    transform: scale(1.2);
    border: solid rgb(5, 118, 216) 3px; 
}

.body-linkedin-links:hover .body-linkedin-logo{
    transition: all 0.3s ease-in-out; 
    filter: none;
}
.body-linkedin-links:hover .body-linkedin-text {
    color: rgb(5, 118, 216); 
}

.body-linkedin-button { 
    display: flex;
    justify-content: space-between;
    
}

.body-linkedin-logo{ 
    height: 30px;
    width: 30px;
    margin-left: 18px;
    margin-top: 5px;
    filter: brightness(0);
}

.body-linkedin-text {
    margin-right: 18px; 
    margin-top: 8px;
    font-weight: 500px;
}


/* GitHub stylings */
.body-github-links{
    justify-content: center;
    border-radius: 5px;
    border: solid black 2px; 
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    margin-right: 5%; 
    width: 500px; 
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.body-github-links:hover {
    transform: scale(1.2);
    border: solid green 3px; 
}

.body-github-links:hover .body-github-logo{
    transition: all 0.3s ease-in-out; 
    filter: brightness(0) saturate(100%) invert(36%) sepia(95%) saturate(750%) hue-rotate(90deg) brightness(90%) contrast(88%);
}
.body-github-links:hover .body-github-text {
    color: green; 
}

.body-github-button { 
    display: flex;
    justify-content: space-between;
    
}

.body-github-logo{ 
    height: 30px;
    width: 30px;
    margin-left: 18px;
    margin-top: 4px;
}

.body-github-text {
    margin-right: 18px; 
    margin-top: 8px;
    font-weight: 500px;
}

/* Gmail Styling */
.body-gmail-links{
    justify-content: center;
    border-radius: 5px;
    border: solid black 2px; 
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
    margin-left: 5%;
    margin-right: 5%; 
    width: 500px; 
    height: 40px;
    transition: all 0.3s ease-in-out;
}

.body-gmail-links:hover {
    transform: scale(1.2);
    border: solid rgb(174, 3, 3) 3px; 
}

.body-gmail-links:hover .body-gmail-logo{
    transition: all 0.3s ease-in-out; 
    filter: brightness(0) saturate(100%) invert(34%) sepia(93%) saturate(748%) hue-rotate(-10deg) brightness(99%) contrast(100%);
}
.body-gmail-links:hover .body-gmail-text {
    color: rgb(174, 3, 3); 
}

.body-gmail-button { 
    display: flex;
    justify-content: space-between;
    
}

.body-gmail-logo{ 
    height: 30px;
    width: 30px;
    margin-left: 18px;
    margin-top: 4px;
}

.body-gmail-text {
    margin-right: 18px; 
    margin-top: 8px;
    font-weight: 500px;
}

.body-related-skills-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    height: 1000px;
    margin-left: 150px;
    margin-right: 150px;
}

.body-footer-container { 
    height: 400px;
    width: 100%;
    display: flex;
}

.body-footer { 
    box-shadow: 1px 0px 13px 4px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 100%;
    margin-top: 100px;
}



