.body-footer-container { 
    height: 400px;
    width: 100%;
    display: flex;
}

.body-footer { 
    box-shadow: 1px 0px 13px 4px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 100%;
    margin-top: 100px;
}
